## Import Libraries & Modules

In [5]:
import pandas as pd

## Load Data Set

In [8]:
df1 = pd.read_csv(r"./Data/train.csv")
df2 = pd.read_csv(r"./Data/test.csv")

In [10]:
# Combine train & test data sets
df = pd.concat([df1, df2], ignore_index=True)

In [16]:
df.head()

,Employee ID,Age,Gender,Years at Company,Job Role,Monthly Income,Work-Life Balance,Job Satisfaction,Performance Rating,Number of Promotions,...,Number of Dependents,Job Level,Company Size,Company Tenure,Remote Work,Leadership Opportunities,Innovation Opportunities,Company Reputation,Employee Recognition,Attrition
0,8410,31,Male,19,Education,5390,Excellent,Medium,Average,2,...,0,Mid,Medium,89,No,No,No,Excellent,Medium,Stayed
1,64756,59,Female,4,Media,5534,Poor,High,Low,3,...,3,Mid,Medium,21,No,No,No,Fair,Low,Stayed
2,30257,24,Female,10,Healthcare,8159,Good,High,Low,0,...,3,Mid,Medium,74,No,No,No,Poor,Low,Stayed
3,65791,36,Female,7,Education,3989,Good,High,High,1,...,2,Mid,Small,50,Yes,No,No,Good,Medium,Stayed
4,65026,56,Male,41,Education,4821,Fair,Very High,Average,0,...,0,Senior,Medium,68,No,No,No,Fair,Medium,Stayed

In [18]:
# Chack if there is duplicated rows
(len(df[df.duplicated()]))

0

In [20]:
df.columns

Index(['Employee ID', 'Age', 'Gender', 'Years at Company', 'Job Role',
       'Monthly Income', 'Work-Life Balance', 'Job Satisfaction',
       'Performance Rating', 'Number of Promotions', 'Overtime',
       'Distance from Home', 'Education Level', 'Marital Status',
       'Number of Dependents', 'Job Level', 'Company Size', 'Company Tenure',
       'Remote Work', 'Leadership Opportunities', 'Innovation Opportunities',
       'Company Reputation', 'Employee Recognition', 'Attrition'],
      dtype='object')

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74498 entries, 0 to 74497
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Employee ID               74498 non-null  int64
 1   Age                       74498 non-null  int64
 2   Gender                    74498 non-null  object
 3   Years at Company          74498 non-null  int64
 4   Job Role                  74498 non-null  object
 5   Monthly Income            74498 non-null  int64
 6   Work-Life Balance         74498 non-null  object
 7   Job Satisfaction          74498 non-null  object
 8   Performance Rating        74498 non-null  object
 9   Number of Promotions      74498 non-null  int64
 10  Overtime                  74498 non-null  object
 11  Distance from Home        74498 non-null  int64
 12  Education Level           74498 non-null  object
 13  Marital Status            74498 non-null  object
 14  Number of Dependents      74498 non-null  int64
 15  Job Level                 74498 non-null  object
 16  Company Size              74498 non-null  object
 17  Company Tenure            74498 non-null  int64
 18  Remote Work               74498 non-null  object
 19  Leadership Opportunities  74498 non-null  object
 20  Innovation Opportunities  74498 non-null  object
 21  Company Reputation        74498 non-null  object
 22  Employee Recognition      74498 non-null  object
 23  Attrition                 74498 non-null  object
dtypes: int64(8), object(16)
memory usage: 13.6+ MB

In [24]:
df.shape

(74498, 24)